header > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: 100px;
    border-radius: 5%;
}
.navbar {
    background-color: #ff7866;
    color: whitesmoke;
    overflow: hidden;
}
.navbar a {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 10px 15px 15px 10px;
    font-size: 17px;
    text-decoration: none;
    color: #3b110b; 
}

.navbar:hover {
    background-color: #ff7866;
    color: black;
}

.navbar:active {
    background-color: #ff8b78;
    color: blueviolet;
}

body {
    background-color: #ff8b78;
    font-family: 'Courier', Courier, monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

section {
    display: flex;
}

article {
    flex: 1;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: whitesmoke;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

div > img {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: auto;
    height: 50px;
    border-radius: 5%;
}

div > p {
    text-align: right;
    color: whitesmoke;
}

h1, h2, h4 {
    text-align: center;
    color: #3b110b;
}

h5 {
    color: #772217;
    text-align: center;
}

h6 {
    text-align: center;
    color: #3b110b;
}

p {
    text-align: center;
    color: #952b1c;
}

tr {
    text-align: center;
    color: #772217;
}

table, th, td {
    border-radius: 5px;
    border-collapse: collapse;
    border-color: whitesmoke;
}

th {
    color: #3b110b;
}

table {
    width: 100%;
    height: auto;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #ff7866;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: whitesmoke;
    cursor: pointer;
}

.button:hover {
    background-color: #d08405;
}

.descriptors {
    background-color: #e68b7e;
    border: 1px groove;
    border-radius: 5px;
}